/* Universal Selector */
* {
  /* border: 5px solid black; */
  margin: 0;
  padding: 0;
}

/* Element Selectors */
body {
  color: #4f4f4f;
  font-family: monospace;
  position: relative;
}

h1,
h2,
h3 {
  color: #00baae;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  position: relative;
  font-size: 48px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

article {
  margin-bottom: 60px;
}

p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

ol,
ul {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 14px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* CSS Pseudo-class Selectors */

/* li:first-child {
  text-decoration: underline;
}

li:nth-child(2) {
  text-transform: uppercase;
}

li:nth-child(odd) {
  color: rgb(236, 10, 25);
} */

aside {
  border: 5px solid;
  border-left-color: #00baae;
  border-right-color: #00baae;
  border-bottom-color: #ffffff;
  border-top-color: #ffffff;
  background-color: #f9f9f9;
  padding: 50px;
  width: 500px;
}

footer {
  font-size: 12px;
  text-align: center;
}

/* Link Styling (must be in this order -LVHA-) */
a:link,
a:visited {
  color: #00baae;
  text-decoration: none;
}

a:hover {
  /* color: #4f4f4f; */
  font-weight: bold;
  font-size: 16px;
}

a:active {
  font-size: xx-large;
}

/* Pseudo-element Selectors */
h1::first-letter {
  font-style: normal;
  margin-right: 14px;
}

h2::after {
  content: "DE-TOP";
  display: inline-block;
  color: #000000;
  background-color: #ffff00;
  font-size: 18px;
  font-weight: bold;
  margin-left: 24px;
  padding: 5px 10px;
  position: absolute;
  top: -10;
  right: -20;
}

/* Class Selectors */
.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.main-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

.header-img {
  width: 100%;
  height: auto;
}

#author {
  font-style: italic;
  font-size: 12.5px;
  margin-left: 1rem;
  margin-bottom: 0;
}

.authors {
  font-size: 12.5px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0;
}

.related-post-list {
  list-style: none;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 0.5rem;
}

.like-button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 44px;
  right: 44px;
}
